<h1>New Bill Detail</h1>

<%= form_with(model: @bill_detail, url: journey_bill_details_path(@journey_detail), local: true) do |form| %>

  <div class="field">
    <%= form.label :bill_date %>
    <%= form.date_field :bill_date %>
  </div>

  <div class="actions">
    <%= form.submit "Generate Bill", class: "btn btn-primary" %>
  </div>
<% end %>
