// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/>

table {
    width: 100%;
    border-collapse: collapse;
  }
  
  thead th {
    background-color: #f2f2f2;
    padding: 8px;
    font-weight: bold;
    font-size: large;
  }
  
  tbody td {
    padding: 8px;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tbody tr:hover {
    background-color: #ebebeb;
    
  }
  .user-details {
    background-color: rgba(226, 228, 134, 0.856);
    padding: 20px;
    border-radius: 5px;
  }
  
  .user-info p {
    
    margin: 10px 0;
  }
  
  .actions {
    margin-top: 20px;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #428bca;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .btn:hover {
    background-color: #3071a9;
  }
  
  h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  